header {
    height: 200px;
}

ul {
    list-style-type: none;
}

ul li {
    padding: 25px;
    margin: 20px;
    border: 2px solid rgba(17, 55, 91, 0.716);
    margin-left: 25%;
    margin-right: 25%;
}

ul li a {
    text-decoration: none;
}

.finalished {
    text-decoration: line-through;
}

.tags ul {
    background-color: green;
    width: 20px;
}

.tags li {
    margin: 5px;
    background-color: grey;
    margin-right: 75%;
}

label {
    border: 2px solid rgba(17, 55, 91, 0.716);
    margin-right: 10px;
    padding: 10px;
}

input[type=button] {
    color: red; 
    float: right;
}

#options {
    text-align: center;
    background-color: grey;
}

#deleteAll {
    border: 2px solid rgba(17, 55, 91, 0.716);
    background-color: green;
    width: 25%;
    margin-left: 26.5%;
}