#options {
    display: inline;
    float: left;
    text-align: center;
    background-color: rgba(1, 26, 255, 0.289);
    border:2px solid black;
    width: 23.8%;
    height: 98%;
}

#options h3 {
    font-weight: normal;
}

#content {
    width: 74.3%;
}

.article {
    display: none;
}