#logo {
    display: block;
    float: left;
    padding: 20px;
    border: 2px solid black;
}

#content {
    width: 49%;
}

.article {
    display: inline;
    width: 24.5%;
    height: 98%;
    float: right;
}

.article div h3 {
    font-weight: normal;
}

#art1 {
    text-align: center;
    border: 2px solid black;
    padding-bottom: 45%;
    background-color: rgba(1, 26, 255, 0.289);
}

#art2 {
    text-align: center;
    border: 2px solid black;
    padding-bottom: 45%;
    background-color: rgba(1, 26, 255, 0.289);

}