* {
    margin: 0;
    padding: 5px;
}

#title {
    background-color: rgba(1, 26, 255, 0.289);
    border: 2px solid black;
    text-align: center;
    padding: 20px;
}

#logo {
    display: none;
}

#navegation {
    display: none;
}

.contener {
    height: 40em;
}

#options {
    display: none;
}

#content {
    background-color: rgba(1, 26, 255, 0.289);
    border: 2px solid black;
    margin-left: 25%;
    margin-right: 25%;
    height: 98%;
    text-align: center;
}

#foot {
    background-color: rgba(1, 26, 255, 0.289);
    border: 2px solid black;
    height: 10em;
    text-align: center;
}