#logo {
    display: block;
    float: left;
    border: 2px solid black;
}

#logo p {
    padding: 12px;
}

.contener {
    height: 20em;
}    

#content {
    margin-right: 21%;
    height: 77%
}

#options {
    height: 77%;
}

.article {
    display: block;
    float: right;
    width: 13%;
    padding-right: 6%;
    
}

.article div {
    margin-bottom: 50%;
    border: 2px solid black;
    background-color: rgba(1, 26, 255, 0.289);
    padding: 5%;
    margin-right: 25%;
    width: 75%;
    padding-bottom: 25%;
    padding-left: 25%;
}
