h1{
    text-align: center;
    margin-top: 0%;
}

#parrafo1{
    float: left;
    height: 50em;
    width: 20%;
}

#bloq{
    height: 50em;
}

#parrafo2 {
    padding-top: 0.1em;
    height: 15em;
}

.columna{
    display: inline-block;
    width: 25%;
}