#iden {
    display: block;
    float: right;
    padding: 12px;
    border: 2px solid black;
}

#options {
    display: none;
}

#content {
    display: none;
}

.article {
    display: none;
}

.article2 {
    display: block;
    width: 74%;
    height: 98%;
}

.article2 div {
    text-align: center;
    background-color: rgba(1, 26, 255, 0.289);
    height: 48%;
    border: 2px solid black;
}

.article2 div h3 {
    font-weight: normal;
}

.news {
    display: block;
    float: right;
    background-color: rgba(1, 26, 255, 0.289);
    width: 25%;
    height: 96%;
    text-align: center;
}

.news div {
    border: 2px solid black;
    text-align: center;
}

.news #search {
    padding: 45px;
}

.news #result {
    padding-top: 25%;
    padding-bottom: 50%; 
}