#options {
    text-align: center;
    float: left;
    display: block;
    background-color: rgba(1, 26, 255, 0.289);
    border: 2px solid black;
    height: 98%;
    width: 25%;
}

#content {
    padding: 5px;
    margin-left: 27%;
    margin-right: 0;
}
