.nav {
    display: block;
    background-color: rgba(1, 26, 255, 0.289);
    border: 2px solid black;
    padding: 12px;
    margin-left: 10px;
    margin-right: 10px;
}

#barNav h3 {
    font-weight: normal;
}

#iden {
    display: none;
}
