#navegation {
    display: block;
    background-color: rgba(1, 26, 255, 0.289);;
    border: 2px solid black;
    margin-bottom: 7px;
    padding: 10px;
}

#options {
    height: 89%;
}

#content {
    height: 88%;
}