h1 {
    text-align: center;
    background-color: red;
    height: 2em;
}

.rojo {
    color: red;
}

.resaltado {
    background: lightgray;
}

#links span {
    margin: 10px;
    background-color: black;
    padding: 8px;
}

#links span a {
    text-decoration: none;
}

#links span a:link, a:active, a:visited {
    text-decoration: none;
    color: white
}

.social div{
    background-color: grey;
    display: inline;
}